:root { 
  --accent-color: #2196F3; 
  --hero-foot-bg-color: #2F303A; 
  --font-weight-title: 700;
  --font-text: 400;
  --primare-bg-color: #E5E5E5; 
  --primary-text-color: #757575; 
  --title-text-color: #212121;
  --whate-laetters: #fff;  
  }

/*OБЩИЕ СТИЛИ*/
body { 
  background-color: var(--primare-bg-color);
  color: var(--primary-text-color); 
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  max-width: 1630px; margin: 0 auto;
}

a { text-decoration: none;
}

*,
p,
ul,
a
{ margin: 0; padding: 0;
}

.list { list-style-type: none; 
    
}

.cart-img { display: block;}

.text {
  color: var(--primary-text-color); 
  font-weight: var(--font-text);
  font-size: 16px; 
  line-height: 1.87;
}

/*header section*/
header { 
  width: auto;
  background-color: #fff; 
  position: relative; 
  border-bottom: 1px solid #ECECEC; 
  padding-top: 30px; 
  padding-bottom: 25px;
  }


.container { 
  max-width: 1200px; 
  padding: 0 15px; 
  margin: 0 auto; 
}

/*Логотип header and footer*/
.logo { 
  color: #000; 
  font-family: Raleway, sans-serif; 
  font-weight: 700;
  font-size: 26px; 
  line-height: 1.19;  
  margin-right: 95px;
}

.logo:hover, 
.logo:focus,
.footer-logo:hover, 
.footer-logo:focus {
  color: var(--accent-color);
} 

.logo-web {
  color: var(--accent-color);
    
}

.footer .logo { 
  color: var(--whate-laetters);  
}

/*ОБЩЕЕ ДЛЯ НАВИГАЦИИ*/
.container-nav, 
.nav-menu, 
.contact-list,
.text,
.site-nav { 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  flex-direction: row;
} 

/*menu navigation*/

.site-nav .link { 
  color: #212121; 
  letter-spacing: 0.02em;
  font-weight: 500; 
  font-size: 14px; 
  line-height: 1.14;
}

.nav-menu { 
  margin-right: auto;
}

.site-nav li:not(:last-child) {
  margin-right: 50px; 
}

.site-nav .link:hover,
.site-nav .link:focus { 
  color: var(--accent-color); 
} 

.site-nav .link.current {
  color: var(--accent-color)
}


/*contact*/
.contact-list li:last-child { 
  margin-left: 50px; 
}


.contact-list .link { 
  color: #757575; 
  font-weight: 500; 
  font-size: 14px; 
  line-height: 1.14;
    
}

.contact-list .link:hover,
.contact-list .link:focus { 
  color: var(--accent-color)
}

/*hero*/
.hero { 
  background-color: var(--hero-foot-bg-color);
  padding-bottom: 200px;
  padding-top: 200px; 
}

.hero .container {
  letter-spacing: 0.06em;  
  max-height: 600px;
  text-align: center; 
  padding-left: 270px; 
  padding-right: 270px; 
  }

.button { 
  color: var(--whate-laetters);  
  background: var(--accent-color); 
  font-weight: var(--font-weight-title); 
  font-size: 16px;    
  line-height: 1.87px; 
}


.button.link  {   
  width: 200px; 
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
  border-radius: 4px;
  border: 1px solid transparent;  
  padding: 10px 32px;  
}


.hero-title { 
  display: block;
  color: var(--whate-laetters); 
  font-weight: 900; 
  font-size: 44px; 
  line-height: 1.36; 
  text-align: center; 
  text-transform: uppercase;
  align-items: center; 
  vertical-align: middle;
  width: 695px; 
  height: 120px; 
  margin-bottom: 40px; 
 }

/*advantages*/ 
.section-advantages{
  padding-top: 94px; 
  padding-bottom: 94px;
}


.advantages-list,  
.advantages-list .title, 
.advantages-list .text { 
  display: flex; 
  align-items: right; 
  justify-content: space-between;
}

.advantages-list li:not(:last-child){
  margin-right: 30px; 
 }

.advantages-list li {
  min-width: 270px;
} 

.advantages-list .title { 
  color: var(--title-text-color);
  font-weight: var(--font-weight-title); 
  font-size: 14px; 
  line-height: 1.14px;  
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center; 
}

.advantages-list-text { 
  font-weight: var(--font-text); 
  font-size: 14px; line-height: 1.71; 
  letter-spacing: 0.03em;
} 

/* what-we-do */
.section-what-we-do {
  padding-bottom: 94px;  
}

.what-we-do .title { 
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title); 
  font-size: 36px; 
  line-height: 1.16; 
  text-align: center;
  margin-bottom: 50px;
  align-items: center;
  min-width: min-content;  
  padding-left: 395px; 
  padding-right: 395px;   
}

.we-do-list li:not(:last-child) {
  margin-right: 30px; 
} 

.we-do-list {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  padding: 0px; 
  flex-basis: calc( 100% / 3 - 30px )
}


/*our team*/
.team { 
  background: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list  { 
  color: var(--title-text-color);
}

.team-list  {  
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc( 100% / 3 - 30px ); 
  align-items: center; 
  justify-content: space-between; 
  padding: 0px; 
  margin: 0px;
  
}

.team .section-title {
  min-width: min-content;
  align-items: center;    
  padding-left: 453px; 
  padding-right: 453px; 
  margin-bottom: 50px; 
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title); 
  font-size: 36px; 
  line-height: 1.16; 
  text-align: center; 
}


.cart-team {
  background: #FFFFFF; 
  max-width: 270px;
  max-height: 368px;  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); }

.cart-content { 
  text-align: center;   
  align-items: center;
  border-radius: 0px 0px 4px 4px; 
  padding-top: 30px; 
  padding-bottom: 30px; 
  margin-right: auto; 
  margin-left: auto;
}

.cart-content .title {
  min-width: 151px;  
  margin-bottom: 10px;  
}


/*footer*/
.footer { 
  background-color: var(--hero-foot-bg-color);
  padding-top: 60px; 
  padding-bottom: 60px;}

.footlink {
  margin-bottom: 20px;
}

/*footer address*/
.location { color: var(--whate-laetters); 
  font-style: normal; 
  font-weight: var(--font-text);
  font-size: 14px; 
  line-height: 1.71;
  max-width: 231px;
  
}

.loogofooter .contact { 
  color: rgba(255, 255, 255, 0.6); 
  font-weight: var(--font-text);   
  font-size: 14px; line-height: 1.71;
}

.loogofooter .contact.mail, { 
  margin-bottom: 9px;
  margin-top: 9px;
}


/* portfolio */
.portfolio {
  padding-top: 95px; 
  padding-bottom: 94px;
}

/*portfolio скрытый h1*/
.visually-hidden { 
  position: absolute; 
  clip: rect(0 0 0 0); 
  width: 1px;
  height: 1px; 
  margin: -1px;
}

/*portfolio button*/


.button-list .title {
  min-width: 73px; 
  min-height: 38px; 
  border: transparent; 
  border-bottom-color: none;
  text-shadow: none;
  text-align: center;  
  cursor: pointer;
  border-radius: 4px; 
  align-items: center;  
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
  outline: none;
  background-color: #F5F4FA; 
  color: var(--title-text-color); 
  letter-spacing: 0.03em; 
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px; 
  padding: 6px 22px; 
}

.button-list { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: row; 
  margin-bottom: 50px
} 

.button-list li:not(:last-child) { 
  margin-right: 8px; 
}

.button-list .title:hover,
.button-list .title:focus  { 
  background-color: var(--accent-color); 
}

.button-list .title:active { 
  background-color: transparent; 
 }

/* portfolio projects  */

.portfolio-bg { 
  background-color: #FFFFFF;
}

.project-title h2 { 
  color: var(--title-text-color); 
  letter-spacing: 0.06em; 
  font-weight: var(--font-weight-title); 
  font-size: 18px;
  line-height: 2.00; 
  margin-bottom: 4px; 
}

.project-title h2:hover, 
.project-title h2:focus { 
  color: var(--accent-color);
} 

.project-link { 
  background-color: #fff; 
  max-width: 370px; 
  max-height: 404px; 
  margin-bottom: 20px;
}


/*carts progects */
.project.list { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  flex-basis: calc( 100% / 3 - 30px ); 
  padding: 0px; 
 }

.project.list li:not(:last-child) { 
  margin-bottom: 32.5px;} 

.progect-content { 
  border-bottom: 1px solid #EEEEEE;  
  border-right: 1px solid #EEEEEE; 
  border-left: 1px solid #EEEEEE; 
  padding-left: 23px; 
  padding-right: auto; 
  padding-bottom: 20px; 
  padding-top: 20px;
}

