:root { --primary-text-color: #757575; --title-text-color: #212121; --accent-color: #2196F3; --whate-laetters: #fff; --primare-bg-color: #E5E5E5; --hero-foot-bg-color: #2F303A;--font-weight-title: 700; --font-text: 400}

/*OБЩИЕ СТИЛИ*/
body { background-color: var(--primare-bg-color); color: var(--primary-text-color); font-family: Roboto, sans-serif; letter-spacing: 0.03em;
}

header { background-color: #fff; position: relative;
}

a { text-decoration: none;
}

* { margin: 0; padding: 0;}

.list { list-style-type: none;  
}


.container { width: 1230px; padding: 0 15px; margin: 0 auto; border: 1px solid red;
}

/*Логотип header and footer*/
.logo { color: #000; font-family: Raleway, sans-serif; font-weight: 700; font-size: 26px; line-height: 1.19;  margin-right: 95px;
}

.logo:hover, 
.logo:focus,
.footer-logo:hover, 
.footer-logo:focus { color: var(--accent-color);
} 

.logo-web { color: var(--accent-color);
    
}

.footer .logo { color: var(--whate-laetters);  
}

/*ОБЩЕЕ ДЛЯ НАВИГАЦИИ*/
.container-nav, 
.nav-menu, 
.contact-list,
.site-nav { display: flex; align-items: center
} 

.container-nav { justify-content: space-between; padding-top: 30px; margin-bottom: 25px;
}

/*menu navigation*/

.site-nav .link { color: #212121; letter-spacing: 0.02em;font-weight: 500; font-size: 14px; line-height: 1.14;
}

.nav-menu { margin-right: 331px;
}

.site-nav li:not(:last-child) { margin-right: 50px;}

.site-nav .link:hover,
.site-nav .link:focus { color: var(--accent-color); 
} 

.site-nav .link.current {color: var(--accent-color)
}


/*contact*/
.contact-list li:last-child { margin-left: 50px; 
} 

.contact-list .link { color: #757575; font-weight: 500; font-size: 14px; line-height: 1.14;
    
}

.contact-list .link:hover,
.contact-list .link:focus { color: var(--accent-color)
}

/*hero*/
.hero .container { background-color: var(--hero-foot-bg-color); letter-spacing: 0.06em;  min-height: 600px; padding-top: 200px; padding-bottom: 200px; padding-left: 275px; padding-right: 275px; text-align: center; 
}

.button { color: var(--whate-laetters); background: var(--accent-color); font-weight: var(--font-weight-title); font-size: 16px;    line-height: 1.87px; text-align: center; display: inline-block; min-width: 200px; min-height: 50px; border-radius: 4px; padding: 32px 10px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}


.hero-title { color: var(--whate-laetters); font-weight: 900; font-size: 44px; line-height: 1.36; text-align: center; text-transform: uppercase; margin-bottom: 30px;
}

/*advantages*/
.advantages-list,
.title,
.text { display: flex; align-items: center; justify-content: space-between;
}

.advantages-list { margin-top: 94px; padding-bottom: 94px;} 

.advantages-list li:not(:last-child) { margin-right: 30px;} 

.advantages-list .title { color: var(--title-text-color);font-weight: var(--font-weight-title); font-size: 14px; line-height: 1.14px;  text-transform: uppercase; margin-bottom: 10px;
}

/*section*/
.section-title { color: var(--title-text-color); font-weight: var(--font-weight-title); font-size: 36px; line-height: 1.16; text-align: center; 
}


.section-text { font-weight: var(--font-text); font-size: 14px; line-height: 1.71; letter-spacing: 0.03em;
}


.team { background: #F5F4FA;}

/*our team*/
.team-list .title { color: var(--title-text-color);
}

/* what we do
.we-do-list { } */

/*footer*/
.footer { background-color: var(--hero-foot-bg-color);
    
}

/*footer address*/
.location { color: var(--whate-laetters); font-style: normal; font-weight: var(--font-text);font-size: 14px; line-height: 1.71;
}

.contact { color: rgba(255, 255, 255, 0.6); font-weight: var(--font-text);   font-size: 14px; line-height: 1.71;
}


/*portfolio скрытый h1*/
.visually-hidden { position: absolute; clip: rect(0 0 0 0); width: 1px;height: 1px; margin: -1px;
}

/*portfolio button*/
.button-list .title { color: var(--title-text-color); letter-spacing: 0.03em; font-weight: 500;font-size: 16px; line-height: 1.62;}

.button-list .title {background-color: #F5F4FA}

.button-list .title:hover { background-color: var(--accent-color);}

/*portfolio projects*/
.project-title h2 { color: var(--title-text-color); letter-spacing: 0.06em; font-weight: var(--font-weight-title); font-size: 18px;line-height: 2.00; 
}

.project-title h2:hover, 
.project-title h2:focus { color: var(--accent-color);
} 

.project-link { background-color: #fff;
}

.text {color: var(--primary-text-color); font-weight: var(--font-text); font-size: 16px; line-height: 1.87;
}