.advantages{
  padding-top: 60px; 
  padding-bottom: 60px;

  @media  (min-width: 1200px){
    padding-top: 94px; 
    padding-bottom: 94px; 
  } 
}

.advantages__list {
  display: block;
  
  & li:not(:last-child) {
    margin-bottom: 30px; 
  }

  @media screen and (min-width: 768px) {
    @include Flex(flex, baseline, none);
    flex-wrap: wrap;
           & :not(:last-of-type) {
             margin-right: 30px;
           }
  }
  @media screen and (min-width: 1200px) {
    @include Flex(flex, center, none);
    flex-wrap: nowrap;
     
        & :not(:last-of-type) {
          margin-right: 30px;
        }
  
   }
}

.advantages__icon--item {
  min-width: 290px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    width: 354px;
  }
  
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px) / 4);
    width: 270px;
    flex-wrap: nowrap;

  }
}
  
.advantages__icon--svg { 
  @include Flex(flex, center, center);
  width: 290px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  flex-wrap: wrap;
 

 @media screen and (min-width: 768px) {
   flex-basis: calc((100% - 30px) / 2);
   width: 354px;
 }

@media screen and (min-width: 1200px) {
    width: 270px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 30px) / 4)
 }
}


.advantages__info--title { 
  text-align: left;
  color: var(--title-text-color);
  font-weight: var(--font-weight-title); 
  font-size: 14px; 
  line-height: 1.14;  
  text-transform: uppercase; 
  margin-bottom: 10px;
}

.advantages__info--text { 
  text-align: left;
  font-weight: var(--font-text); 
  font-size: 14px; 
  line-height: 1.71; 
} 

/* what-we-do */
.section__direction {
display: none;
@media screen and (min-width: 1200px) {
display: block;
}
  padding-bottom: 94px;  
}
  
.direction__title { 
  text-align: center;
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title); 
  font-size: 36px; 
  line-height: 1.16; 
  min-width: min-content;  
  margin-bottom: 50px;   
}
  
.direction__list { 
  @include Flex(flex, center, none);
  padding: 0px; 
    
  & :not(:last-child) {
    margin-right: 30px; 
  }
}
  
.direction__thumb {
  position: relative;
  overflow: hidden;
  padding: 0px;
  width: 370px;
}

.direction__thumb--title{
  @include Flex(flex, center, center);
  text-align: center;
  position: absolute;
  left: 0px;
  overflow: hidden;
  font-weight: var(--font-weight-title); 
  font-size: 14px; 
  line-height: 1.17px; 
  text-transform: uppercase;
  color: var(--whate-laetters);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding: 27px 0;
}