.advantages{
  padding-top: 60px; 
  padding-bottom: 60px;

  @media  (min-width: 1200px){
    padding-top: 94px; 
    padding-bottom: 94px; 
  } 
}

.advantages__list {
  display: block;
  text-align: center;
  
  & :not(:last-of-type) {
    margin-bottom: 30px; 
  } 
  @media  (min-width: 768px){
    @include Flex (flex, baseline, space-between);
    text-align: center;
    flex-wrap: wrap; 
  } 
  @media  (min-width: 1200px){
    @include Flex(flex, center, none);
    text-align: center; 
    flex-wrap: nowrap;
    
    & :not(:last-of-type) {
      margin-bottom: 0px;
    }

    & :not(:last-of-type) {
      margin-right: 30px; 
    }
  }
}

.advantages__icon--item{
  @media  (min-width: 768px){
    width: calc((100% - 30px) / 2);
  }
  @media  (min-width: 1200px){
    min-width: 270px;
  }
}
  
.advantages__icon--svg { 
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 0;
  @media  (min-width: 768px){
    @include Flex(flex, center, center);
    width: 354px;
    height: 120px;
  }
  @media  (min-width: 1200px){
    width: 270px;
    height: 120px;
  } 
}

.advantages__info--title { 
  text-align: left;
  color: var(--title-text-color);
  font-weight: var(--font-weight-title); 
  font-size: $FontSize14;
  line-height: $LineHeight1-14;
  text-transform: uppercase; 
  margin-bottom: 10px;
}

.advantages__info--text { 
  text-align: left;
  font-weight: var(--font-text); 
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
} 

/* what-we-do */
.section__direction {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
  padding-bottom: 94px;  
}
  
.direction__title { 
  text-align: center;
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title); 
  font-size: $FontSize36;
  line-height: $LineHeight1-16;
  min-width: min-content;  
  margin-bottom: 50px;   
}
  
.direction__list { 
  @include Flex(flex, center, none);
  padding: 0px; 
    
  & :not(:last-child) {
    margin-right: 30px; 
  }
}
  
.direction__thumb {
  position: relative;
  overflow: hidden;
  padding: 0px;
  // new
  min-width: 320px;
  max-width: 480px;
  @media  (min-width: 768px){
    max-width: 768px;
    @media  (min-width: 1200px){
      max-width: 1200px;
    }
  }
}

.direction__thumb--title{
  @include Flex(flex, center, center);
  text-align: center;
  position: absolute;
  left: 0px;
  overflow: hidden;
  font-weight: var(--font-weight-title); 
  font-size: $FontSize14;
  line-height: $LineHeight1-17;
  text-transform: uppercase;
  color: var(--whate-laetters);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding: 27px 0;
}