body { 
  color: var(--primary-text-color); 
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.container{ 
  // width: 320px;
  padding-right: 15px; 
  padding-left: 15px;
  margin: auto;
  border-right: 1px solid red;
  border-left: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
    border-right: 1px solid blue;
    border-left: 1px solid blue;
  }
 
  @media screen and (min-width: 768px) {
    width: 768px;
    border-right: 1px solid green;
    border-left: 1px solid green;
    
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    border-right: 1px solid purple;
    border-left: 1px solid purple;
    
  }
}

// *,
p,
ul,
h3,
h2,
h1
{ margin: 0; padding: 0;
}

.list { list-style-type: none; 
    
}

a { text-decoration: none;
  cursor: pointer;
}

img{
  display: block;
}

.cart-img { 
  display: block;
}
  

  