.footer { 
  background-color: var(--hero-foot-bg-color);
  padding-top: 60px; 
  padding-bottom: 60px;

}

.footer__container {
  display: block;
  text-align: center;
  @media  (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media  (min-width: 1200px){
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: none;
  }
}

.footer__logo{
  padding-bottom: 30px;
}
    
.footer__link {
  text-align: center;
  margin-bottom: 20px;
}

.fotter__box--geometric{
  @media  (min-width: 768px){
    display: flex;
    justify-content: space-between;
    


  }
}

/*footer address*/
.footer__info{
  display: block;
  text-align: center;
  margin-bottom: 60px;
  
  @media  (min-width: 768px){
    padding-left: 76px;
    margin-right: 165px;
  }
  @media  (min-width: 1200px){
    text-align: left;
    padding-left: 0px;
    margin-right: 70px; 
    margin-bottom: 0px;
  }
}

.footer__address { 
  color: var(--whate-laetters); 
  font-style: normal; 
  font-weight: var(--font-text);
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
  // min-width: 231px;
}
  
.footer__contact { 
  display: block;
  color: rgba(255, 255, 255, 0.6); 
  font-weight: var(--font-text);   
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
  margin-top: 9px;
}
  
.footer__contact--mail { 
  display: block;
  margin-top: 9px;
}
  
/* footer join */ 
.footer__join { 
  display: block;
  text-align: center;
  margin-bottom: 60px;
  @media  (min-width: 768px){
    padding-right: 89px;

  }
  @media  (min-width: 1200px){
    text-align: left;
    margin-bottom: 0px;
    padding-right: 0px;
    
  }
}
  
  
.footer__join--title {
  color: var(--whate-laetters);
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
  text-transform: uppercase;
  font-weight: var(--font-weight-title);
}
  
.footer__networks{ 
  @include Flex (flex, center, center);
  text-align: center;
 
  margin-top: 20px;
  
  @extend %transitionBackgrColor;
  
  & :not(:last-child) {
    margin-right: 10px;
  }

  @media  (min-width: 1200px){
    @include Flex (flex, center, right);
    width: 206px;
    height: 44px;
    margin-left: auto;
    margin-bottom: 0px;
  }
}

.footer__networks--link{
  @include Flex(flex, center,center);
  text-align: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: var(--cursor);
  color: #FFFFFF;
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  @extend %transitionBackgrColor;
  @extend %transitionFill;
  
  &:hover,
  &:focus{
    fill: #fff;
    background-color: var(--accent-color);
  }
  
  &:active {
    fill: transparent;
  }
}

/* footer-subscription */
  
.footer__form{ 
  display: block;
  text-align: center;
  @media  (min-width: 768px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }
  @media  (min-width: 1200px){
    display: flex;
    justify-content: right ;
    align-content: center;
    margin-left: 93px; 
    margin-right: auto;
    flex-direction: row;
  }
  
  
}

.footer__form--subscribe {
  display: block;
  margin-bottom: 20px;
  @media  (min-width: 1200px){
    @include Flex(flex, flex-start, right);
    flex-direction: column;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}
  
.footer__form--text {
  display: block;
  text-align: center;
  color: var(--whate-laetters);
  font-size: $FontSize14;
  line-height: $LineHeight1-71;
  letter-spacing: $LetterSpacing03;
  text-transform: uppercase;
  font-weight: var(--font-weight-title);
  margin-bottom: 20px;
  @media  (min-width: 1200px){
    text-align: end;
  
  }
}
  
.footer__form--input{
  font-size: $FontSize16;
  line-height: $LineHeight1-25;
  font-weight: var(--font-text);
  color: var(--whate-laetters);
  min-width: 290px;
  height: 50px;
  background-color: var(--hero-foot-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px ;
  padding-bottom: 15px;
  @media  (min-width: 480px){
    min-width: 450px;
  }
  @media  (min-width: 1200px){
    min-width: 358px; 
  }
}

.footer__form--input::placeholder{
  color: rgba(255, 255, 255, 0.6);
  font-size: $FontSize16;
  line-height: $LineHeight1-25;
  font-weight: var(--font-text);
}
  
.footer__form--button {
  @extend %buttonMain;
  @media  (min-width: 1200px){
    margin-top: 43px; 
  }
  
}
  
.footer__form--icon {
  width: 24px ;
  height: 24px;
  margin-left: 10px;
}

    
