
header {
  position: relative; 
  background-color: #fff; 
  border-bottom: 1px solid #ECECEC; 
} 

.header__navigation{
  @include Flex;
  position: relative;
 

}
 
.header__menu { 
  margin-right: auto;
  @media  (min-width: 768px) {
    display: flex;
    text-align: center;
  }
}

.header__list{
  display: none;
  @media  (min-width: 768px) {
    @include Flex;

    & li:not(:last-child){margin-right: 50px;
    } 
  }
}

  
.header__link{ 
  @include Flex;
  color: var(--title-text-color);
  letter-spacing: $LetterSpacing02;
  @extend %fontStyleHeader;
  position: relative;
  padding-bottom: 32px;
  padding-top: 30px;
  @extend %transitionColor;
  
  &:hover,
  &:focus {color: var(--accent-color);
    @extend %transitionTransform ;}
}

.header__link--current {
  color: var(--accent-color);
  @extend %transitionTransform ;

} 
  
.header__link::after {
  @include positionAbsoluteAfter();
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 5px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  @extend %transitionTransform ;
  transform: scaleX(0);
}

.header__link--current::after {
  opacity: 1;
  @extend %transitionTransform ;
  transform: scaleX(1);
} 
  
.header__link:focus::after {
  opacity: 1;
  transform: scalex(1); 
}

/*contact*/

.header__contact{ 
  display: none;
  @media  (min-width: 768px) {
    display: block;
  } 
  @media  (min-width: 1200px) {
    @include Flex (flex, center, none);
    
    & li:last-child { 
      margin-left: 50px; 
    }
  } 
}

.header__contact--link {
  align-items: flex-start; 
  color: var(--primary-text-color);
  font-weight: var(--font-weight500);
  font-size: $FontSize12;
  line-height: $LineHeight1-16;
  cursor: var(--cursor);
  @extend %transitionColor;
  padding-top: 21px;
  padding-bottom: 21px;  
  
  &:hover,
  &:focus { 
    color: var(--accent-color);
  }  

  @media  (min-width: 1200px) {
    @include Flex;
    font-weight: var(--font-weight500);
    font-size: $FontSize14;
    line-height: $LineHeight1-16;
    padding-bottom: 32px;
    padding-top: 30px;
  }

}

.header__contact--link::before { 
  content: " ";
  fill: currentColor; 
}  
  
.header__contact--icon{
  fill: currentColor;
  margin-right: 8px;
  @extend %transitionFill;
  box-sizing: border-box;
  
  &:hover,
  &:focus { 
    fill: var(--accent-color); 
  } 
  
  &:active {
    fill: transparent;
  }
  @media  (min-width: 1200px){
    margin-right: 10px; 
  }
}

.header__contact--icon.phone{
  width: 10px;
  height: 14px;

  @media  (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.header__contact--icon.email{
  width: 14px;
  height: 10px;
  @media  (min-width: 1200px) {
    width: 16px;
    height: 12px;
  
  }
}

// mobile menu//

.menu-container--mobile   {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;
  background-color: var(--white-bg-color);
  transform: translateX(100%);
}

.menu-container.is-open  {
  padding: 2.9em 2em;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(0);
  @media  (min-width: 480px) {
    padding: 48px 40px;
  }
}

.mobile__menu {
  min-width: 100%;
  min-height: 100%;
}

.menu-toggle{
  position: absolute;
  top: 8px;
  right: 13px;  
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: none;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  
  @extend %transitionFill;
  
  & :hover {
    fill: var(--accent-color);
  }

  &:focus-within{
    fill: var(--accent-color);
  }

  @media (min-width: 480px) {
    padding-top: 10px; 
  }
  
  @media  (min-width: 767px){
    display: none;
  }
}

.heder__icon--open{
  fill: var(--title-text-color);
  @extend %transitionFill;
  
  & :hover {
    fill: var(--accent-color);
  }

  &:focus-within{
    fill: var(--accent-color);
  }
}

.heder__icon--close{
  left: 27.5%;
  right: 25.83%;
  top: 27.5%;
  bottom: 25.83%;
  fill: var(--title-text-color);
  @extend %transitionFill;
  
  & :hover {
    fill: var(--accent-color);
  }

  &:focus-within{
    fill: var(--accent-color);
  }
}

.mobile__menu--list{
  margin-bottom: 306px;
    
  & :not(:last-child){
    margin-bottom: 32px;
  }

}

.mobile__social{
  display: flex;
  flex-wrap: wrap;
  
  & :not(:first-child){
    margin-left: 10px;
  }

  @media  (max-width: 402px){
    & :first-child{
      margin-bottom: 20px;
    }
  }
}

.mobile__social--link{
  width: calc((100% - 34px) / 4);
  line-height: $LineHeight1-22;
  font-weight: var(--font-weight-menu);
  letter-spacing: $LetterSpacing02;
  color: var(--accent-color);
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  @media  (min-width: 480px) {
    font-size: 18px;
  }
}

.mobile__menu--link {
  font-weight: var(--font-weight-menu);
  font-size: $FontSize2-6em;
  line-height: $LineHeight1-17;
  letter-spacing: $LetterSpacing02;
  color: var(--title-text-color);
 
  @media  (max-width: 480px) {
    font-size: $FontSize40;
  }
 
  &:hover,
  &:focus { 
    color: var(--accent-color);
    // @extend %transitionTransform ;
  } 
}

.mobile__contact--item {
  display: flex;
}
  
.mobile__contact--link.phone {
  font-weight: var(--font-weight-menu);
  font-size: $FontSize1-8em;
  line-height: $LineHeight1-17;
  letter-spacing: $LetterSpacing02;
  margin-bottom: 32px;
  color: var(--title-text-color);
  @media  (min-width: 480px) {
    font-size: $FontSize34;
  }
} 

.mobile__contact--link.mail{ 
  font-weight: var(--font-weight-menu);
  color: var(--title-text-color);
  font-size: $FontSize1-45em;
  line-height: $LineHeight1-16;
  letter-spacing: $LetterSpacing02;
  margin-bottom: 64px;
  @extend %transitionTransform ;
  
  &:hover,
  &:focus { 
    color: var(--accent-color);
  } 

  @media  (max-width: 480px) {
    font-size: $FontSize24;
  }
}
