%HoverFocuseFormStyle{  
  &:hover { 
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
    outline: #2196F3;
    cursor: pointer;}

  &:focus-within{
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
    outline: #2196F3;
    cursor: pointer;
  }
}

.hero {
 
  background-color: var(--hero-foot-bg-color);
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__container { 
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
  align-items: center;
 
  @media  (min-width: 1200px){
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
  
  
.hero__title { 
  color: var(--whate-laetters); 
  font-weight: 900; 
  font-size: 26px; 
  line-height: 1.62; 
  text-transform: uppercase;
  min-width: 360px;  
  margin-bottom: 30px;
   @media (min-width: 480px){
    min-width: 360px; 
    min-height: 84px; 
   }
  @media  (min-width: 738px) {
    font-size: 44px; 
    line-height: 1.36;
    min-width: 696px; 
    min-height: 120px;
    margin-bottom: 40px; 
  }

}

  
.hero__button  { 
  @extend%buttonMain; 
}
  
/*модальное окно hero */
.hero__backdroup {
  position: fixed;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__backdroup.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}
  
.hero__backdroup.is-hidden .hero__modal {
  transform: scale (1.1) translate(-50%, -50%); 
} 
  
.hero__modal { 
  max-width: 528px;
  max-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var( --whate-laetters);
  padding: 40px;
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__modal--title{ 
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-weight: var(--font-weight-title);
  margin: 0;
  margin-bottom: 12px;
  width: 100%; 
}

.hero__form--modal{
  display: flex;
  flex-direction: column;
  width: 448px;
}

.hero__form--modal .input {
  border: none;
  font-family: inherit;
}

.hero__form--userdate,
.hero__form--coments {
  @include Flex (flex, flex-start, right);
  align-content: flex-start;
  flex-direction: column;
  text-align: right;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-weight: var(--font-text);
  width: 100%;
  cursor: pointer;
  margin-bottom: 4px;
}

.hero__form--userdate{
  position: relative;
  margin-bottom: 10px;
}

.hero__form--element {
  width: 100%;
}
  
.hero__form--icon { 
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translate(50%);
  @extend %transitionBackgrColor; 
}

.hero__form--label{ 
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 41px;
  @extend %transitionBackgrColor; 
  @extend %HoverFocuseFormStyle;
}

.hero__form--label:focus-within + .hero__form--icon {
  fill: var(--accent-color);
}

.hero__form--label:hover + .hero__form--icon {
  fill: var(--accent-color);
}

.hero__form--coments {
  margin-bottom: 20px;
}

.hero__form--coments--text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  font-weight: var(--font-text);
  letter-spacing: 0.01em;
}

.hero__form--coments--text{
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px; 
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 12px;
  @extend %transitionBackgrColor;
  @extend %HoverFocuseFormStyle;
}

.hero__form--police {
  position: relative;
  @include Flex (flex, center, center);
  text-align: center; 
  width: 100%;
  margin-bottom: 30px;
}

.hero__form--agree--title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: var(--font-text);
  color: var(--primary-text-color);
}
  
.hero__form--agree--link{ 
  color: var(--accent-color);  
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: var(--font-text);
  cursor: pointer;
  text-decoration-line: underline;
}
  
.hero__form--checkbox { /* скрываем чекбокс от браузера */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  @extend %transitionBackgrColor; 
}
  
.hero__form--checkbox:checked + .hero__form--checkbox--icon {
  background-color: var(--accent-color);;
  background-size: contain;
  border-color: var(--accent-color);;
  background-origin: border-box; 
  background-image: url(/images/Vector2n.svg); 
  background-position: 50% 50%;
}

.hero__form--checkbox--icon{ 
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.5px;
  border-radius: 2px;
  border: 2px solid #000;
  cursor: pointer;
  @extend %transitionBackgrColor;
}

.hero__form--button--close { 
  position: absolute;
  top: 8px;
  right: 13px;  
  width: 30px;
  height: 30px;
  outline: none;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  @extend %transitionFill;
  
  & :hover {
    fill: var(--accent-color);
  }

  &:focus-within{
    fill: var(--accent-color);
  }
}

.hero__form--button--icon{
  display: flex;
  align-items: center;
  margin: auto;
}

.form__button--submit {
  @extend%buttonMain; 
  margin-left: auto;
  margin-right: auto;
} 

