.footer__logo { 
  color: #000; 
  font-family: Raleway, sans-serif; 
  font-weight: var(--font-weight-title);
  font-size: $FontSize26;
  line-height: $LineHeight1-19;
  width: 145px;  
  @extend %transitionColor;
  @media  (min-width: 1200px){
    margin-right: 95px;
  }
  
}

.header__logo{
  color: #000; 
  font-family: Raleway, sans-serif; 
  font-weight: var(--font-weight-title);
  font-size: $FontSize24;
  line-height: $LineHeight1-16;
  max-width: 145px;  
  @extend %transitionColor;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  

  @media  (min-width: 480px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
   
  }
  @media  (min-width: 738px) {
    font-size: $FontSize26;
    line-height: $LineHeight1-19;
    padding-top: 26px;
    padding-bottom: 26px;
 
  }
  @media  (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 95px;
  }
}


  
.footer__logo--studio{
  @extend %transitionColor;
}

.footer__logo--web,
.header__logo--web, 
.header__logo:hover, 
.header__logo:focus,
.footer__logo--studio:hover, 
.footer__logo--studio:focus {
  color: var(--accent-color);  
} 
  
.header__logo:active,
.footer__logo--studio:active {
  fill: transparent;
}

.footer__logo{ 
  color: var(--whate-laetters);  
}


  
  