.section__team { 
  background: #F5F4FA;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
}
}

  
.team__list  { 
  color: var(--title-text-color); 
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
      
    & :not(:last-of-type){
        margin-right: 30px;
  }
}
}  

.team__title {  
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title); 
  font-size: 28px; 
  line-height: 1.17; 
  text-align: center; 
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px; 
    line-height: 1.16; 
    margin-bottom: 50px;
  }
   
}
  
.team__cart {
  width: 305px;
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 30px) / 4);
  @media  (min-width: 768px){ 
    width: 354px;
  }

  @media screen and (min-width: 1200px){
    width: 270px
  } 
}

.team__cart--content { 
  text-align: center;
  border-radius: 0px 0px 4px 4px; 
  padding-top: 30px; 
  padding-bottom: 24px; 

  @media screen and (min-width: 1200px) {
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-left: 32px;
    padding-right: 32px;
}
}
  
.team__cart--title { 
  margin-bottom: 10px;
}
  
.team__networks {
  @include Flex(flex, center, center);
  text-align: center;
  margin-top: 16px;
  
  & :not(:last-child){
    margin-right: 10px;
  }
}
  
  
.team__networks--link {
  @include Flex(flex, center,center);
  text-align: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: var(--cursor);
  color: #AFB1B8;
  fill: currentColor;
  @extend %transitionBackgrColor;
  @extend %transitionFill;
  
  &:hover,
  &:focus{
    fill: #fff;
    background-color: var(--accent-color);
  }
}
