.partneirs__section { 
padding-bottom: 60px;
padding-top: 60px;

   @media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px; 
}
}

.partneirs__title { 
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  align-items: center;
   @media screen and (min-width: 1200px){
  font-size: 36px; 
  line-height: 1.16; 
  margin-bottom: 50px; 
}  
}
  
.partniers__list {
  @include Flex(flex, center, none);
  flex-wrap: wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
  flex-basis: calc( 100% / 2 - 30px );
  & :not(:last-child) {
    margin-right: 30px;}

 @media screen and (min-width: 1200px){
  flex-basis: calc(100% / 6 - 30px);
 }
}
  
    
.partniers__link  {
  flex-wrap: wrap;
  @include Flex(flex, center, center);
  width: 210px;
  height: 90px;
  color: #AFB1B8;
  fill: currentColor;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @extend %transitionBoxShadow;
  @extend %transitionBackgrColor;
  @extend %transitionFill;
  @extend %transitionColor;
  @extend %transitionBorder;
  
  &:hover,
  &:focus { border: 1px solid var(--accent-color); box-shadow: 0px 4px 4px var(--accent-color); color: var(--accent-color)  
  } 

  &:active {
    fill: transparent;
  }
   flex-wrap: wrap;
   @include Flex(flex, center, center);

   @media screen and (min-width: 768px) {
       @include Flex(flex, center, center);
       
     flex-wrap: wrap;
     width: 226px;
     height: 90px;
   }
    @media screen and (min-width: 1200px) {
       @include Flex(flex, center, center);
       
      flex-wrap: nowrap;
      width: 170px;
      height: 90px;
    }
}
  

