.partneirs__section { 
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px; 
  }
}

.partneirs__title { 
  color: var(--title-text-color); 
  font-weight: var(--font-weight-title);
  font-size: $FontSize28;
  line-height: $LineHeight1-17;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
    font-size: $FontSize36;
    line-height: $LineHeight1-16;
    margin-bottom: 50px; 
  }  
}
  
.partniers__list {
  @include Flex (flex, none, space-between);
  text-align: center;
  flex-wrap: wrap; 
   
  & :not(:last-of-type) {
    margin-bottom: 30px; 
  }  
  
  @media  (min-width: 1200px){
    @include Flex(flex, center, none);
    text-align: center; 
    flex-wrap: nowrap;
    fill: currentColor;

    & :not(:last-of-type) {
      margin-bottom: 0px;
    }
    
    & :not(:last-child) {
      margin-right: 30px;}
  }
} 

.partniers__item{
  width: calc((100% - 30px) / 2);
  @media  (min-width: 768px){
    width: calc((100% - 30px) / 3);
    @media  (min-width: 1200px){
      @include Flex(flex, center, center);
      width: 170px;
      height: 90px;
  }
}
}
    
.partniers__link  { 
  @include Flex(flex, center, center);
  flex-wrap: wrap; 
  max-width: 210px;
  height: 90px;
  color: #AFB1B8;
  fill: currentColor;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
  transition-property: background-color, fill, border,color, box-shadow;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--cubic-function);
  
  &:hover,
  &:focus { border: 1px solid var(--accent-color); box-shadow: 0px 4px 4px var(--accent-color); color: var(--accent-color)  
  } 

  &:active {
    fill: transparent;
  } 

  @media  (min-width: 768px){
    max-width: 226px;
  }
  @media  (min-width: 1200px){
    width: 170px;
    height: 90px;
  }

}

  