.portfolio {
  padding-top: 60px; 
  padding-bottom: 60px;
  background-color: var(--white-bg-color);
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.portfolio__container{
  padding-right: 0px;
  @media screen and (min-width: 480px){
    padding-right: 15px;
  }

}

/*portfolio скрытый h1*/
.visually__hidden { 
  position: absolute; 
  clip: rect(0 0 0 0); 
  width: 1px;
  height: 1px; 
  margin: -1px;
}

/*portfolio button*/

.portfolio__button--item {
  border: transparent; 
  text-shadow: none;
  text-align: center;  
  cursor: var(--cursor);
  align-items: center;  
  border-radius: 4px; 
  background-color: #F5F4FA; 
  outline: none;
  letter-spacing: 0.03em; 
  color: var(--title-text-color); 
  line-height: 1.62;
  font-weight: 500;
  font-size: 0.98em; 
  min-width: 73px;
  min-height: 38px;
  @extend %transitionBackgrColor; 
  @extend %transitionColor;
  @extend %transitionBoxShadow;

  &:hover,
  &:focus { 
    color: var(--whate-laetters);
    background-color: var(--accent-color); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
  }

  &:active{ 
    background-color: transparent; 
  }
  @media screen and (max-width: 479px){
    margin-right: 8px;
  }
  @media screen and (min-width: 480px) {
    font-size: 16px;
    padding: 6px 22px;
   
  }
}

.portfolio__button--list { 
  @include Flex(flex, right, flex-start);
  flex-direction: row; 
  margin-bottom: 40px; 
  flex-wrap: wrap;
  font-size: 16px;
  
  @media  (max-width: 479px){
    margin-right: -8px;
  }
  @media  (min-width: 480px){
    & :not(:last-child) { 
      margin-right: 8px; 
    }
  }
  @media  (max-width: 767px){
    & :nth-last-of-type(n+3){
      margin-bottom: 15px;
    }
  }
  
  @media  (min-width: 768px){
    @include Flex(flex, none, center);
    margin-bottom: 40px; 
    

  }
  @media  (min-width: 1200px){
    @include Flex(flex, center, center);
    flex-wrap: nowrap;
    margin-bottom: 50px;
    
    
  }
} 

// carts progects 
  
.portfolio__project {
  display: block;
  flex-wrap: wrap;
  margin-right: 0px; 

  @media  (min-width: 768px){
    display: flex;
    margin-right: 0px;

  }
  @media  (min-width: 1200px){
    & :nth-last-of-type(n+4) {
      margin-bottom: 30px; 
    }
  }
    
  & :nth-child(3n){
    margin-right: 0px;
  }
  // & :not(:nth-last-child(3n)){
  //   margin-right: 30px;
  // }

}
  
.progect__content { 
  border-bottom: 1px solid #EEEEEE;  
  border-right: 1px solid #EEEEEE; 
  border-left: 1px solid #EEEEEE; 
  padding-left: 23px; 
  padding-right: 23px;
  padding-bottom: 20px; 
  padding-top: 20px;
}

.project__link  h2{ 
  color: var(--title-text-color); 
  letter-spacing: 0.06em; 
  font-weight: var(--font-weight-title); 
  font-size: 18px;
  line-height: 2.00; 
  margin-bottom: 4px; 
}

.project__item { 
  display: block;
  background-color: var( --white-bg-color); 
  max-width: 450px; 
  max-height: 404px; 
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  @extend %transitionBoxShadow;
 
  // изминения в размере для моб 290

  &:hover, 
  &:focus {  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
  } 
  
  &:active {
    fill: transparent;
  }
// перенесла все для 1200
  @media  (min-width: 1200px){
    @include Flex(flex, center, center);
    min-width: 370px; 
    margin-right: 30px; 
    flex-basis: calc( 100% / 3 - 30px ); 
  }
}
  
.project__thumb {
  position: relative;  
  overflow: hidden;
  border-style: none;
  min-width: 290px;
  // изменила размер дла моб
// перенесла все для 1200
  @media  (min-width: 1200px){
    max-width: 368px;
    height: 294px;
  }
 
}

// Basic for img//
.cart-img {
  display: block;
  max-width: 100%;
  @media  (min-width: 480px){
    max-width: 100%;
    height: auto;
  }
  @media  (min-width: 768px){
    max-width: 100%;
    height: auto;
  }

  @media  (min-width: 1200px){
    max-width: 100%;
    height: auto;
  }
}
  
.project__overlay { 
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--whate-laetters); 
  font-weight: var(--font-text);
  font-size: 18px;
  line-height: 1.57;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px ;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.project__item:hover .project__overlay, 
.project__item:focus .project__overlay{
  transform: translateY(0);
  pointer-events: none;
}

.project__text {
  @include textFont ();
}


  
