.portfolio {
  padding-top: 94px; 
  padding-bottom: 94px;
  background-color: var(--white-bg-color);
}

/*portfolio скрытый h1*/
.visually__hidden { 
  position: absolute; 
  clip: rect(0 0 0 0); 
  width: 1px;
  height: 1px; 
  margin: -1px;
}

/*portfolio button*/

.portfolio__button--item {
  min-width: 73px; 
  min-height: 38px; 
  border: transparent; 
  text-shadow: none;
  text-align: center;  
  cursor: var(--cursor);
  border-radius: 4px; 
  align-items: center;  
  outline: none;
  background-color: #F5F4FA; 
  color: var(--title-text-color); 
  letter-spacing: 0.03em; 
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px; 
  padding: 6px 22px;
  @extend %transitionBackgrColor; 
  @extend %transitionColor;
  @extend %transitionBoxShadow;
  
  &:hover,
  &:focus { 
    color: var(--whate-laetters);
    background-color: var(--accent-color); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
  }

  &:active{ 
    background-color: transparent; 
  }
}

.portfolio__button--list { 
  @include Flex(flex, center, center);
  flex-direction: row; 
  margin-bottom: 50px;
  
  & :not(:last-child) { 
    margin-right: 8px; 
  }
} 

/*carts progects */
.portfolio__project { 
  display: flex;
  flex-wrap: wrap; 
  padding: 0px; 
}
  
.portfolio__project {
  display: flex;
  
  & :nth-last-of-type(n+4) {
    margin-bottom: 30px; 
  }
    
  & :not(:nth-list-child(3n)){
    margin-right: 30px;
  }
  
  & :nth-child(3n){
    margin-right: 0px;
  }
}
  
.progect__content { 
  border-bottom: 1px solid #EEEEEE;  
  border-right: 1px solid #EEEEEE; 
  border-left: 1px solid #EEEEEE; 
  padding-left: 23px; 
  padding-right: 23px;
  padding-bottom: 20px; 
  padding-top: 20px;
}

.project__link  h2{ 
  color: var(--title-text-color); 
  letter-spacing: 0.06em; 
  font-weight: var(--font-weight-title); 
  font-size: 18px;
  line-height: 2.00; 
  margin-bottom: 4px; 
}

.project__item { 
  @include Flex(flex, center, center);
  background-color: var( --white-bg-color); 
  max-width: 370px; 
  max-height: 404px; 
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  @extend %transitionBoxShadow;
  margin-right: 30px;
  flex-basis: calc( 100% / 3 - 30px ); 

  &:hover, 
  &:focus {  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
  } 
  
  &:active {
    fill: transparent;
  }
}
  
.project__thumb {
  position: relative;  
  overflow: hidden;
  border-style: none;
  width: 368px;
  height: 294px;
}
  
.project__overlay { 
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--whate-laetters); 
  font-weight: var(--font-text);
  font-size: 18px;
  line-height: 1.57;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px ;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.project__item:hover .project__overlay, 
.project__item:focus .project__overlay{
  transform: translateY(0);
  pointer-events: none;
}

.project__text {
  @include textFont ();
}


  
