
  
@mixin textFont () {
  color: var(--primary-text-color); 
  font-weight: var(--font-text);
  font-size: 16px; 
  line-height: 1.87;
}
  
@mixin conTainer () { 
  max-width: 1200px; 
  padding: 0 15px; 
  margin: 0 auto; 
}

@mixin Flex ($display:flex, $align-items: center, $justify-content: space-between) 
  {
  display: $display; 
  align-items: $align-items; 
  justify-content: $justify-content;
}
  
@mixin positionAbsoluteAfter ($display:block, $position: absolute, $content: '') {
  display: $display; 
  position: $position; 
  content: $content;
}
  
%transitionTransform  {
  transition: transform 250ms var(--cubic-function), opacity 250ms var(--cubic-function);
}
  
%transitionColor {
  transition: color var(--duration-time) var(--cubic-function);
}
  
%transitionFill {
  transition: fill var(--duration-time) var(--cubic-function);
}

%transitionBorder {
  transition: border var(--duration-time) var(--cubic-function);
} 

%transitionBoxShadow {
  transition: box-shadow var(--duration-time) var(--cubic-function); 
}

%transitionBackgrColor {
  transition: background-color var(--duration-time) var(--cubic-function);}
  
%buttonMain {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: var(--font-weight-title);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whate-laetters);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color var(--duration-time) var(--cubic-function);
  padding: 0px;
  
  &:hover,
  &:focus{ background-color: var(--accent-color);  
  }
  
  &:active {
    background-color: transparent;
  }
}

