:root { 
  --accent-color: #2196F3; 
  --hero-foot-bg-color: #2F303A; 
  --font-weight-title: 700;
  --font-text: 400;
  --primare-bg-color: #E5E5E5; 
  --primary-text-color: #757575; 
  --title-text-color: #212121;
  --whate-laetters: #fff;  
  --paddingbottom-header-elements: 30px;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-time: 250ms;
  --white-bg-color: #FFFFFF;
  --cursor: pointer;
}

